@import '../../../theme.scss';

.container {
  height: 100%;
  padding-top: 60px;
}

.form-title {
  color: $purple;
  font-weight: bold;
}

mat-form-field,
.google-signup,
.submit-btn {
  width: 300px;
}

.google-signup {
  font-size: 16px;
  color: $darkgrey;
}

.submit-btn {
  margin-top: 10px;
  height: 40px;
  font-size: 18px;
}
