<mat-toolbar fxLayoutGap="6px">
  <button mat-icon-button *ngIf="loggedIn">
    <mat-icon aria-label="Icon button with menu icon">menu</mat-icon>
    <!-- <mat-icon aria-label="Icon button with close icon">close</mat-icon> -->
  </button>
  <h1>
    <a routerLink="/">
      Romp
    </a>
  </h1>
  <mat-icon>pets</mat-icon>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <button mat-button color="primary" routerLink="/login">Log in</button>
    <button mat-flat-button color="primary" routerLink="/signup">
      Sign up
    </button>
  </div>
</mat-toolbar>
