<section class="container" fxLayout fxLayoutAlign="center flex-start">
  <div
    class="form-container"
    fxFlex="300px"
    fxFlex.xs="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <h1>Sign Up</h1>
    <button mat-raised-button class="google-signup">
      <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
        <div>
          <fa-icon [icon]="['fab', 'google']" class="google-icon"></fa-icon>
        </div>
        <mat-divider vertical></mat-divider>
        <div fxFlex>
          Continue with Google
        </div>
      </div>
    </button>
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="hasError('email', 'required')">
          Can't be empty!
        </mat-error>
        <mat-error *ngIf="hasError('email', 'email')">
          Invalid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="hasError('password', 'required')">
          Can't be empty!
        </mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">
          Password must be at least 8 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Date of Birth"
          formControlName="dateOfBirth"
          [max]="maxDate"
          readonly
          (click)="picker.open()"
        />
        <mat-error *ngIf="hasError('dateOfBirth', 'required')">
          Can't be empty!
        </mat-error>
        <mat-hint>You must be 18 years or older to sign up</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi></mat-datepicker>
      </mat-form-field>

      <mat-checkbox formControlName="agreeToTerms" color="primary">
        Agree to Terms and Conditions
      </mat-checkbox>

      <button mat-raised-button color="accent" type="submit" class="submit-btn">
        Continue
      </button>
    </form>
  </div>
</section>
