<!-- <div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
